# Import the all the necessary libraries:

In [46]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Import the IPL csv file.

In [47]:
ipl_auction_df = pd.read_csv("IPL2013.csv")

# Check the nature of variable:

In [48]:
type(ipl_auction_df)

pandas.core.frame.DataFrame

# Display the First 5 entires with headers:

In [49]:
ipl_auction_df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

# Finding the summary of DataFrame:
# See if type is object is it categorical data

In [50]:
ipl_auction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

# To find meta data of frame:

In [51]:
list(ipl_auction_df)

['Sl.NO.',
 'PLAYER NAME',
 'AGE',
 'COUNTRY',
 'TEAM',
 'PLAYING ROLE',
 'T-RUNS',
 'T-WKTS',
 'ODI-RUNS-S',
 'ODI-SR-B',
 'ODI-WKTS',
 'ODI-SR-BL',
 'CAPTAINCY EXP',
 'RUNS-S',
 'HS',
 'AVE',
 'SR-B',
 'SIXERS',
 'RUNS-C',
 'WKTS',
 'AVE-BL',
 'ECON',
 'SR-BL',
 'AUCTION YEAR',
 'BASE PRICE',
 'SOLD PRICE']

# Slicing and Indexing a dataframe

## 1. By ROWS

### First five entries:

In [52]:
ipl_auction_df[0:5]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

### Last five entries:

In [53]:
ipl_auction_df[-5:]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.64,2,0,0,0.00,0.00,0.00,2010,50000,750000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,42.85,0,0,0,0.00,0.00,0.00,2008,225000,225000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,91.67,1,1783,65,27.43,7.75,21.26,2008,200000,450000
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,122.22,0,99,2,49.50,9.00,33.00,2008,100000,110000

## 2. By Columns:

In [54]:
ipl_auction_df['PLAYER NAME'][0:5]

0     Abdulla, YA
1    Abdur Razzak
2     Agarkar, AB
3       Ashwin, R
4    Badrinath, S
Name: PLAYER NAME, dtype: object

## Slicing only 2 columns 5 entries:

In [55]:
ipl_auction_df[['PLAYER NAME', 'COUNTRY']][0:5]

    PLAYER NAME COUNTRY
0   Abdulla, YA      SA
1  Abdur Razzak     BAN
2   Agarkar, AB     IND
3     Ashwin, R     IND
4  Badrinath, S     IND

## Sorting dataframe by column values:

In [56]:
ipl_auction_df[['PLAYER NAME', 'SOLD PRICE']].sort_values('SOLD PRICE')[0:5]

       PLAYER NAME  SOLD PRICE
73      Noffke, AA       20000
46     Kamran Khan       24000
0      Abdulla, YA       50000
1     Abdur Razzak       50000
118  Van der Merwe       50000

## Creating New Column to calculate "premium" for each player

In [57]:
ipl_auction_df['PREMIUM'] = ipl_auction_df['SOLD PRICE'] - ipl_auction_df['BASE PRICE']
ipl_auction_df[['PLAYER NAME', 'BASE PRICE', 'SOLD PRICE', 'PREMIUM']][0:5]

    PLAYER NAME  BASE PRICE  SOLD PRICE  PREMIUM
0   Abdulla, YA       50000       50000        0
1  Abdur Razzak       50000       50000        0
2   Agarkar, AB      200000      350000   150000
3     Ashwin, R      100000      850000   750000
4  Badrinath, S      100000      800000   700000

### Which player got the maximum premium on the base price?

In [58]:
ipl_auction_df[['PLAYER NAME', 'BASE PRICE', 'SOLD PRICE', 'PREMIUM']].sort_values('PREMIUM', ascending = False)[0:5]

       PLAYER NAME  BASE PRICE  SOLD PRICE  PREMIUM
50        Kohli, V      150000     1800000  1650000
113     Tiwary, SS      100000     1600000  1500000
127   Yuvraj Singh      400000     1800000  1400000
111  Tendulkar, SR      400000     1800000  1400000
93       Sehwag, V      400000     1800000  1400000

## Grouping and Aggregating

In [59]:
soldprice_by_age = ipl_auction_df.groupby('AGE')['SOLD PRICE'].mean().reset_index()
soldprice_by_age

   AGE     SOLD PRICE
0    1  720250.000000
1    2  484534.883721
2    3  520178.571429

# Get only numerical columns from dataset:

In [62]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
newdf = ipl_auction_df.select_dtypes(include=numerics)

## Correlation operation using pandas

In [63]:
newdf.corr()

,Sl.NO.,AGE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,...,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE,PREMIUM
Sl.NO.,1.000000,-0.064235,-0.091722,0.121835,-0.059029,0.042439,0.098777,0.084678,-0.096388,-0.082366,...,-0.024863,0.011956,0.016440,-0.040547,0.044308,-0.058574,-0.106635,0.005262,0.096150,0.108912
AGE,-0.064235,1.000000,0.469402,0.293473,0.403131,0.038531,0.306949,-0.093574,0.323228,0.002776,...,-0.070133,-0.203835,-0.170092,-0.300514,-0.236669,-0.282870,-0.254737,0.209273,-0.106201,-0.213915
T-RUNS,-0.091722,0.469402,1.000000,0.026285,0.892823,0.231411,0.045505,0.067700,0.690647,0.410143,...,0.216571,-0.253083,-0.277157,-0.298999,-0.329022,-0.309105,-0.222680,0.437984,0.216752,0.060050
T-WKTS,0.121835,0.293473,0.026285,1.000000,-0.088276,0.012052,0.822940,0.060641,0.088782,-0.218544,...,-0.198036,0.297302,0.289735,0.162456,0.117530,0.205208,-0.268438,0.216648,0.035767,-0.052931
ODI-RUNS-S,-0.059029,0.403131,0.892823,-0.088276,1.000000,0.319264,0.056554,0.126795,0.714058,0.523955,...,0.376012,-0.268950,-0.302745,-0.225109,-0.249795,-0.237517,-0.201213,0.388967,0.337834,0.221423
ODI-SR-B,0.042439,0.038531,0.231411,0.012052,0.319264,1.000000,0.160114,0.284584,0.291373,0.306338,...,0.320041,0.004855,-0.022502,0.018958,-0.019067,0.017522,-0.212726,0.287357,0.226880,0.137325
ODI-WKTS,0.098777,0.306949,0.045505,0.822940,0.056554,0.160114,1.000000,0.124361,0.077536,-0.198101,...,-0.148722,0.327122,0.302466,0.217302,0.230221,0.259800,-0.290655,0.204650,0.112327,0.040837
ODI-SR-BL,0.084678,-0.093574,0.067700,0.060641,0.126795,0.284584,0.124361,1.000000,0.103315,-0.027772,...,-0.033616,0.196887,0.151594,0.416627,0.313295,0.402495,0.009421,0.108670,0.075408,0.039914
CAPTAINCY EXP,-0.096388,0.323228,0.690647,0.088782,0.714058,0.291373,0.077536,0.103315,1.000000,0.352422,...,0.254991,-0.277903,-0.300074,-0.183775,-0.248974,-0.198688,-0.226568,0.450316,0.318835,0.172747
RUNS-S,-0.082366,0.002776,0.410143,-0.218544,0.523955,0.306338,-0.198101,-0.027772,0.352422,1.000000,...,0.866213,-0.160762,-0.220959,-0.101818,-0.179459,-0.118567,-0.008742,0.178185,0.478510,0.475867
HS,-0.051490,0.083028,0.411209,-0.268432,0.495765,0.360086,-0.209109,-0.067615,0.392749,0.834631,...,0.788439,-0.235327,-0.291494,-0.176049,-0.254494,-0.192990,-0.054119,0.234347,0.347473,0.299871
AVE,-0.108076,0.057569,0.374046,-0.265540,0.446280,0.340327,-0.222062,-0.053766,0.378271,0.767023,...,0.705365,-0.278482,-0.343958,-0.120430,-0.202301,-0.140809,-0.024166,0.333820,0.396519,0.313299
SR-B,0.057132,-0.020303,0.114298,-0.147752,0.194111,0.375371,-0.030404,-0.051684,0.176919,0.380022,...,0.425394,-0.063179,-0.069823,-0.057895,-0.076228,-0.068248,-0.089412,0.127489,0.184278,0.157637
SIXERS,-0.024863,-0.070133,0.216571,-0.198036,0.376012,0.320041,-0.148722,-0.033616,0.254991,0.866213,...,1.000000,-0.080295,-0.144558,-0.012210,-0.101027,-0.021412,-0.041865,0.161889,0.450609,0.450691
RUNS-C,0.011956,-0.203835,-0.253083,0.297302,-0.268950,0.004855,0.327122,0.196887,-0.277903,-0.160762,...,-0.080295,1.000000,0.959210,0.409505,0.410502,0.471224,0.074165,-0.037795,0.116476,0.151161
WKTS,0.016440,-0.170092,-0.277157,0.289735,-0.302745,-0.022502,0.302466,0.151594,-0.300074,-0.220959,...,-0.144558,0.959210,1.000000,0.297822,0.374875,0.368264,0.084321,-0.051661,0.053796,0.084704
AVE-BL,-0.040547,-0.300514,-0.298999,0.162456,-0.225109,0.018958,0.217302,0.416627,-0.183775,-0.101818,...,-0.012210,0.409505,0.297822,1.000000,0.722758,0.983415,0.107488,-0.006005,0.128406,0.151123
ECON,0.044308,-0.236669,-0.329022,0.117530,-0.249795,-0.019067,0.230221,0.313295,-0.248974,-0.179459,...,-0.101027,0.410502,0.374875,0.722758,1.000000,0.726480,0.060647,-0.045327,0.040679,0.066776
SR-BL,-0.058574,-0.282870,-0.309105,0.205208,-0.237517,0.017522,0.259800,0.402495,-0.198688,-0.118567,...,-0.021412,0.471224,0.368264,0.983415,0.726480,1.000000,0.089461,-0.001787,0.118296,0.137593
AUCTION YEAR,-0.106635,-0.254737,-0.222680,-0.268438,-0.201213,-0.212726,-0.290655,0.009421,-0.226568,-0.008742,...,-0.041865,0.074165,0.084321,0.107488,0.060647,0.089461,1.000000,-0.166356,0.117700,0.208533
BASE PRICE,0.005262,0.209273,0.437984,0.216648,0.388967,0.287357,0.204650,0.108670,0.450316,0.178185,...,0.161889,-0.037795,-0.051661,-0.006005,-0.045327,-0.001787,-0.166356,1.000000,0.523510,0.170212
SOLD PRICE,0.096150,-0.106201,0.216752,0.035767,0.337834,0.226880,0.112327,0.075408,0.318835,0.478510,...,0.450609,0.116476,0.053796,0.128406,0.040679,0.118296,0.117700,0.523510,1.000000,0.928694
PREMIUM,0.108912,-0.213915,0.060050,-0.052931,0.221423,0.137325,0.040837,0.039914,0.172747,0.475867,...,0.450691,0.151161,0.084704,0.151123,0.066776,0.137593,0.208533,0.170212,0.928694,1.000000

## Covariance operation using pandas

In [64]:
newdf.cov()

,Sl.NO.,AGE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,...,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE,PREMIUM
Sl.NO.,1.419167e+03,-1.395349,-1.142209e+04,6.548488e+02,-7.965853e+03,4.140554e+01,4.138062e+02,85.337209,-1.693798,-1.908961e+03,...,-2.231783e+01,2.514574e+02,13.511628,-3.177438e+01,8.248295,-33.702248,-5.534884,3.034884e+04,1.473516e+06,1.443167e+06
AGE,-1.395349e+00,0.332499,8.947397e+02,2.414442e+01,8.327065e+02,5.754061e-01,1.968277e+01,-1.443459,0.086941,9.848539e-01,...,-9.636255e-01,-6.562230e+01,-2.139773,-3.604673e+00,-0.674369,-2.491251,-0.202385,1.847466e+04,-2.491222e+04,-4.338688e+04
T-RUNS,-1.142209e+04,894.739654,1.092730e+07,1.239692e+04,1.057237e+07,1.981138e+04,1.672783e+04,5986.792654,1064.958676,8.341161e+05,...,1.705876e+04,-4.670867e+05,-19988.184019,-2.056042e+04,-5374.567480,-15606.260568,-1014.213834,2.216572e+08,2.914794e+08,6.982217e+07
T-WKTS,6.548488e+02,24.144425,1.239692e+04,2.035669e+04,-4.511764e+04,4.453293e+01,1.305709e+04,231.459416,5.908825,-1.918351e+04,...,-6.732695e+02,2.368260e+04,901.870722,4.821648e+02,82.863583,447.182012,-52.770304,4.732334e+06,2.075981e+06,-2.656352e+06
ODI-RUNS-S,-7.965853e+03,832.706500,1.057237e+07,-4.511764e+04,1.283220e+07,2.961925e+04,2.252880e+04,12150.825200,1193.176148,1.154727e+06,...,3.209538e+04,-5.378985e+05,-23660.156947,-1.677451e+04,-4421.757816,-12995.148535,-993.115206,2.133197e+08,4.923140e+08,2.789943e+08
ODI-SR-B,4.140554e+01,0.575406,1.981138e+04,4.453293e+01,2.961925e+04,6.707292e+02,4.611342e+02,197.167943,3.520002,4.881010e+03,...,1.975008e+02,7.020676e+01,-12.714004,1.021365e+01,-2.440118,6.930807,-7.590795,1.139367e+06,2.390337e+06,1.250970e+06
ODI-WKTS,4.138062e+02,19.682767,1.672783e+04,1.305709e+04,2.252880e+04,4.611342e+02,1.236657e+04,369.964043,4.022063,-1.355336e+04,...,-3.940847e+02,2.031016e+04,733.824091,5.026827e+02,126.511747,441.266154,-44.534287,3.484207e+06,5.081580e+06,1.597373e+06
ODI-SR-BL,8.533721e+01,-1.443459,5.986793e+03,2.314594e+02,1.215083e+04,1.971679e+02,3.699640e+02,715.656055,1.289243,-4.570797e+02,...,-2.142826e+01,2.940680e+03,88.475623,2.318492e+02,41.415894,164.455880,0.347239,4.450712e+05,8.206521e+05,3.755809e+05
CAPTAINCY EXP,-1.693798e+00,0.086941,1.064959e+03,5.908825e+00,1.193176e+03,3.520002e+00,4.022063e+00,1.289243,0.217591,1.011388e+02,...,2.834228e+00,-7.237555e+01,-3.053787,-1.783252e+00,-0.573899,-1.415560,-0.145617,3.215921e+04,6.050274e+04,2.834353e+04
RUNS-S,-1.908961e+03,0.984854,8.341161e+05,-1.918351e+04,1.154727e+06,4.881010e+03,-1.355336e+04,-457.079714,101.138819,3.785034e+05,...,1.269843e+04,-5.521999e+04,-2965.762910,-1.303061e+03,-545.583510,-1114.126308,-7.410495,1.678313e+07,1.197608e+08,1.029776e+08
HS,-7.061240e+01,1.742874,4.948391e+04,-1.394223e+03,6.465042e+04,3.394879e+02,-8.465295e+02,-65.847251,6.669290,1.869278e+04,...,6.839165e+02,-4.782948e+03,-231.507573,-1.333167e+02,-45.780774,-107.303771,-2.714490,1.306086e+06,5.145818e+06,3.839732e+06
AVE,-4.516919e+01,0.368281,1.371761e+04,-4.203209e+02,1.773598e+04,9.778380e+01,-2.739654e+02,-15.957139,1.957584,5.235284e+03,...,1.864667e+02,-1.724932e+03,-83.251587,-2.779318e+01,-11.090612,-23.859656,-0.369393,5.669915e+05,1.789574e+06,1.222583e+06
SR-B,7.732802e+01,-0.420632,1.357497e+04,-7.574099e+02,2.498300e+04,3.492838e+02,-1.214783e+02,-49.676250,2.965101,8.400152e+03,...,3.641881e+02,-1.267340e+03,-54.730590,-4.327076e+01,-13.533833,-37.451626,-4.426213,7.012686e+05,2.693430e+06,1.992162e+06
SIXERS,-2.231783e+01,-0.963626,1.705876e+04,-6.732695e+02,3.209538e+04,1.975008e+02,-3.940847e+02,-21.428265,2.834228,1.269843e+04,...,5.677806e+02,-1.068218e+03,-75.149076,-6.052021e+00,-11.895671,-7.792755,-1.374478,5.905754e+05,4.367961e+06,3.777385e+06
RUNS-C,2.514574e+02,-65.622302,-4.670867e+05,2.368260e+04,-5.378985e+05,7.020676e+01,2.031016e+04,2940.679833,-72.375552,-5.521999e+04,...,-1.068218e+03,3.117146e+05,11683.755754,4.756029e+03,1132.544935,4018.301024,57.052117,-3.230556e+06,2.645475e+07,2.968531e+07
WKTS,1.351163e+01,-2.139773,-1.998818e+04,9.018707e+02,-2.366016e+04,-1.271400e+01,7.338241e+02,88.475623,-3.053787,-2.965763e+03,...,-7.514908e+01,1.168376e+04,475.971139,1.351617e+02,40.414588,122.711802,2.534645,-1.725510e+05,4.774503e+05,6.500013e+05
AVE-BL,-3.177438e+01,-3.604673,-2.056042e+04,4.821648e+02,-1.677451e+04,1.021365e+01,5.026827e+02,231.849194,-1.783252,-1.303061e+03,...,-6.052021e+00,4.756029e+03,135.161744,4.327256e+02,74.295204,312.449185,3.080754,-1.912494e+04,1.086629e+06,1.105753e+06
ECON,8.248295e+00,-0.674369,-5.374567e+03,8.286358e+01,-4.421758e+03,-2.440118e+00,1.265117e+02,41.415894,-0.573899,-5.455835e+02,...,-1.189567e+01,1.132545e+03,40.414588,7.429520e+01,24.418724,54.830394,0.412918,-3.429181e+04,8.177450e+04,1.160663e+05
SR-BL,-3.370225e+01,-2.491251,-1.560626e+04,4.471820e+02,-1.299515e+04,6.930807e+00,4.412662e+02,164.455880,-1.415560,-1.114126e+03,...,-7.792755e+00,4.018301e+03,122.711802,3.124492e+02,54.830394,233.277410,1.882625,-4.177973e+03,7.350103e+05,7.391883e+05
AUCTION YEAR,-5.534884e+00,-0.202385,-1.014214e+03,-5.277030e+01,-9.931152e+02,-7.590795e+00,-4.453429e+01,0.347239,-0.145617,-7.410495e+00,...,-1.374478e+00,5.705212e+01,2.534645,3.080754e+00,0.412918,1.882625,1.898390,-3.509123e+04,6.597150e+04,1.010627e+05
BASE PRICE,3.034884e+04,18474.657126,2.216572e+08,4.732334e+06,2.133197e+08,1.139367e+06,3.484207e+06,445071.198569,32159.212880,1.678313e+07,...,5.905754e+05,-3.230556e+06,-172550.983900,-1.912494e+04,-34291.812761,-4177.972570,-35091.234347,2.343878e+10,3.260477e+10,9.165986e+09
SOLD PRICE,1.473516e+06,-24912.224210,2.914794e+08,2.075981e+06,4.923140e+08,2.390337e+06,5.081580e+06,820652.081097,60502.742993,1.197608e+08,...,4.367961e+06,2.645475e+07,477450.327967,1.086629e+06,81774.500894,735010.342278,65971.496720,3.260477e+10,1.654922e+11,1.328875e+11
PREMIUM,1.443167e+06,-43386.881336,6.982217e+07,-2.656352e+06,2.789943e+08,1.250970e+06,1.597373e+06,375580.882528,28343.530113,1.029776e+08,...,3.777385e+06,2.968531e+07,650001.311866,1.105753e+06,116066.313655,739188.314848,101062.731067,9.165986e+09,1.328875e+11,1.237215e+11